.login-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px 40px;
  background-color: #f8f8f8; /* Светлый фон окошка */
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 300px;
}

body { /* Серый фон страницы */
  margin: 0;
  font-family: Arial, sans-serif;
}

.login-title {
  margin: 0 0 10px 0;
  font-size: 24px;
  font-weight: bold;
  color: #333;
  letter-spacing: 1px;
  text-transform: uppercase; /* "СИГМА" заглавными */
}

.login-subtitle {
  margin: 0 0 25px 0;
  font-size: 12px;
  color: #666;
}

.login-input {
  margin: 10px 0;
  padding: 12px;
  width: 100%; /* Поля и кнопка на всю ширину */
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 14px;
  box-sizing: border-box; /* Чтобы padding не ломал ширину */
}

.login-button {
  margin-top: 10px;
  padding: 12px;
  width: 100%;
  background-color: #0f70d8;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-button:hover {
  background-color: #555;
}
.login-logo {
  width: 100px; /* Подбирай под ширину текста "СИГМА" */
  height: auto; /* Сохраняет пропорции */
  margin-bottom: 15px;
}